body {
    background: #f8f1e4;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

#logo {
    font-family: "Times New Roman", Arial;
    font-size: 20px;
    letter-spacing:2px;
    text-align: center;
    background: #8b5e3b;
    color: white;
    padding: 20px;
}

#menu {
    font-family: Helvetica,Arial;
    background: #6d4c41;
    width:100%;
    text-align: center;
    padding: 10px;
    text-transform:uppercase;
}

#menu ul {
    list-style: none;
    padding: 0;
    line-height:46px;
    list-style:none;
}

#menu ul li {
    display: inline-block;
    margin: 0 15px;
    transition: all 300ms;
    height:46px;
}

#menu ul li:hover{
    background:#e59a80;
}

#menu a {
    display:block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left:30px;
    padding-right:30px;
}

#menu ul li:hover {
    background: #9c6e56;
}

.mapa{
    width: 100%; /* Ocupar todo el ancho disponible */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente si es necesario */
    overflow: hidden;
}

.mapa iframe{
    width: 70%;
    max-height: 408px;
}


#slider {
    justify-content: center;        
    align-items: center;            
    width: 50%;                     
    margin: 0 auto;
    position: relative;             
                 
}

.bx-wrapper {
    justify-content: center;        /* Centra las imágenes */
    align-items: center;            /* Centra las imágenes verticalmente */
    position: relative;             /* Necesario para posicionar las flechas */
}


.bx-wrapper .bx-prev, 
.bx-wrapper .bx-next {
    font-size: 30px; /* Tamaño de las flechas */
    color: #fcf9f9; /* Color de las flechas */
    padding: 8px;
    border-radius: 0%;
    position: absolute;       
    transform: translateY(-100%);       /* Ajuste para centrar perfectamente */
    z-index: 100;                       /* Asegura que las flechas estén encima de las imágenes */
    transition: background 0.3s;  
    justify-content: center;
}

.bx-wrapper .bx-prev {
    left: 0;
}

.bx-wrapper .bx-next {
    right: 0; /* Flecha derecha */
}

.bx-wrapper .bx-prev:hover, 
.bx-wrapper .bx-next:hover {
    background: rgba(156, 104, 104, 0.8); 
}


footer {
    background: #6d4c41;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    font-family: "Times New Roman", Arial; /* Tipografía */
    font-size: 35px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    color: white; /* Color del texto */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 10px; /* Espaciado entre letras */
}

p {
    font-size: 13px; /* Tamaño de fuente */
    color: black; /* Color gris */
}

h3 {
    margin:0;
    font-weight:bold;
    line-height: 20px; /* Espaciado entre líneas */
}

.caja {
    background-color: #bda69e; /* Color de fondo beige */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 10px; 
    border-radius:5px;
}

.titulo-caja {
    background-color: #5a3e36; /* Color café oscuro */
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0; /* Bordes redondeados arriba */
}



.galeria img {
    width: 100%; /* Ajusta la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura al 100% del contenedor */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarse */
    display: block; /* Elimina espacios adicionales debajo de la imagen */
}


.miembro {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background: #bda69e;
    border-radius: 10px;
}

.miembro img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.miembro h2 {
    margin-top: 10px;
    font-size: 24px;
}

.miembro p {
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background:  #6d4c41;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn:hover {
    background: #622b17;
}

.subir{
    color: white;

}